<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size : 40px; margin-left : 30px" class="fas fa-shipping-fast" routerLink="products">&nbsp;
            </i>
            <strong routerLink="products" style="font-size : 30px">Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Products">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <div>
            <p style="color: white;">Flipkart SignIn</p>
        </div>
        <div class="add-cart">
            <button routerLink="cart" class="btn btn-primary">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i> 
                <div class="badge bg-danger">{{totalItem}}</div>   
            </button>
        </div>
    </div>
</header>