.form-control {
    width: 600px;
    margin-left: 300px;
    border-radius: 3px;
}

.search-icon {
    margin-left: -35px;
    margin-top: 10px;
    color: blue;
}

.add-cart {
    font-size: 35px;
    margin-right: 30px;
}

.btn-primary {
    background: transparent;
    border-radius: 0;
}